.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #555;
    background-color: #ccc!important;

}
.button{
    
    font-size:85px !important;
    font-weight:bold !important;
}