#companyMain{
    padding: 5px;
}
.titCompany{
    background-color: rgb(236, 236, 236) !important;
}
.tit{
    padding: 12px;
    font-weight: bold;
}

.boxCompanyBasic{
    padding: 10px;
}
.clearfix {
    display: block;
}
