#companyMain{
    padding: 5px;
}
.tittype02{
    background: #666666;
    position: relative;
    height: 50px;
    margin: 15px 0 0 0;
}
.pagetop {
    position: absolute;
    top: 15px;
    right: 16px;
}