.Adjust_Text{
    
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    font-size: large;
}
.Adjust_Image{
    // max-width: 288px;
    // max-height:217px;
    // object-fit: cover;
}
.Adjust_Text_Detail{
    font-size: small;
}